<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accurate, Fast, Developer-Friendly ALPR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Accurate, Fast, Developer-Friendly ALPR</h1>
        <a href="/login" class="logout-link">Login</a>
    </header>
    <section>
        <h2>Try It Out</h2>
        <p>Our algo handles plates that are blurry, dark, angled, and much more!.</p>
    </section>
    <section>
        <h2>Feature-Rich</h2>
        <p>Get vehicle make, model, color, region, direction of travel, Webhooks, Dashboard, and more! Blur plates too!</p>
    </section>
    
    <footer>
        <p>&copy; 2024 NDSPECTRA</p>
    </footer>
</body>
</html>
